*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    min-height: 100vh;
/* background: rgba(83, 73, 73, 0.418); */
}#back{
    width: 100%;
    min-height: 100vh;
/* background: rgb(0, 0, 0); */
}
#back img{
    width: 100%;
    z-index: 2;
    height: 100%;
    object-fit: cover;
}

#top{
    pointer-events: none;
    position: absolute;
    top: 0px;
    z-index: 1;
    left: 0px;
    width: 100%;
    min-height: 100vh;
/* background: rgba(6, 6, 148, 0.267); */
}
.work{
    margin: 0 auto;
    width: 80%;
    position: relative;
    height: 100vh;
    max-width: 1920px;
    /* background-color: aqua; */
}
#nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
#nav img{
    height: 60px;
    border-radius: 5vw;
}
#nav .left{
    display: flex;
    align-items: center;
    gap: 4vw;
}#nav .right{
    display: flex;
    align-items: center;
    gap: 4vw;
}
a{
    text-decoration: none;
        pointer-events: all;
}
.left a{
    text-decoration: none;
    color: rgb(241, 241, 241);
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}.right a{
    text-decoration: none;
    color: rgb(207, 207, 207);
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#hero{
    width: 100%;
    display: flex;
    height: 100px;
    top: 0;
    left: 0;
    justify-content: space-between;
    transform: translate(0%, 50%);
    /* background-color: beige; */
}
#heroleft{
    min-width: 50%;
    /* background-color: blue; */
}

#heroleft .elam{
    height: 6vw;
    margin-bottom: 2vw;
    overflow: hidden;
    /* background: pink; */
}
#heroleft .elam h1{
    padding: 0.3vw;
    line-height: .8;
    letter-spacing: 1vw;
    color: transparent;
    -webkit-text-stroke: 3px rgb(5, 24, 85);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 7vw;
    text-transform: uppercase;

}
#heroleft button{
    padding: 0.6vw;
mix-blend-mode: difference;
    font-size: 2vw;
    background-color: blue;
    color: rgb(71, 71, 55);
        pointer-events: all;
        border: 2px solid white;
    margin-top: 1vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#heroright{
    display: flex;
    flex-direction: column;
    width: 22%;
    height: 70vh;
    /* background-color: red; */
}
#heroright p{
    color: rgb(7, 15, 94);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    text-align: end;
    text-align: center;
}
#heroright #image{
    width: 100%;
    height: 160px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 6vw;
    border-bottom-right-radius: 6vw;
    background-image: url(https://images.unsplash.com/photo-1755024324097-64832c4d2334?q=80&w=1160&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    /* background-color: blueviolet; */
}
#heroright p:nth-child(3){
    margin-bottom: 2vw;
    text-align: center;
}